# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

kayscrochet-backend/.expo

kayscrochet-backend/createAdmin.js

kayscrochet-backend/config

kayscrochet-backend/.env

.idea/

%ProgramData%/

assets/icon(ios).png

assets/adaptive-icon(ios).png

AuthKey_2W7SFTU5A5.p8/

kayscrochet-backend/config/kayscrochetmobileapp-dd1e8-d3ec0f7ecdbb.json

google-services.json

GoogleService-Info.plist