# Dependency directory
node_modules/

# Environment variables
.env

# Logs
*.log

# Directory for storing persistent data
data/

#admin user hash creator file
createAdmin.js

config/kayscrochetmobileapp-dd1e8-d3ec0f7ecdbb.json